body {
    background: linear-gradient(to right, black, rgb(34, 19, 19), grey);
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 400px;
    height: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 3px;
    font-size: 12px;
}

#form h1 {
    color: rgb(3, 3, 3);
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    color: white;

    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}

#form button:hover {
    background-color: rgb(64, 81, 235);
    transition: background-color 1s;
}

.input-control {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;

}

.input-control input {
    border: 2px solid rgb(219, 203, 203);
    border-radius: 4px;

    display: block;
    font-size: 12px;
    padding: 10px;

}

.input-control input:focus {

    outline-color: #95a099;
}

.input-control.success input {
    border-color: rgb(10, 230, 102);

}

.input-control.error input {
    border-color: #ff3860;
}

.input-control.error {
    color: #ff3860;
    font-size: 9px;
}
.input-control.success::after {
    content: "✔";
    color: rgb(10, 230, 102);
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-control.error::after {
    content: "✖";
    color: #ff3860;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}